<h1>All schools</h1>
<br />

<!--what does the user see if ther are no schools?-->
<!--what does the user see if there are schools?-->
<!--add a link or a button to create  anew school-->	

<% if @schools.any? %>
	<!--loop the schools and diplay links to each one-->
	<ul>
		<% @schools.each do |school|%>
		  <li>
		    <%=link_to school.name, school_path(school)%>
		    <!-- <a href='/school/:id'>Neumont</a> is what the above link is doing-->
		  </li>
    <%end%>
  </ul>
<% else %>
  <h3>No schools found. PLease create one!</h3>
<%end%>

<%=link_to 'New School', new_school_path %>



